@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Kalam:wght@300;400;700&display=swap");

.outer-container {
  background-image: url("./img/city_buildings1.svg");
  max-width: 900px;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: -1px 0px 9px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f0f0fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain, cover;
  font-family: "Kalam";
}

.left-side {
  padding: 30px 50px;
  margin: 0 auto;
}

.right-side {
  padding: 30px 50px;
  margin: 0 auto;
}

.container-left {
  text-align: left;
  padding: 25px;
  color: #1a4559;
  margin-left: 30px;
  /* -webkit-text-stroke: 1px #82a3bb;
  /* background-color: rgb(255 255 255 / 0.26);
  border-radius: 20px; */
}

.container-right {
  text-align: center;
  padding: 25px;
  color: #1a4559;
  font-weight: bolder;
  margin-right: 30px;
  /* -webkit-text-stroke: 1px #82a3bb; */
}

.hourly-forecast {
  color: #1a4559;
  text-align: center;
  line-height: 45px;
}

.container.hourly-forecast {
  margin-left: 25px;
}

.search-bar {
  width: 60%;
  margin-left: 20%;
}

#big-emoji {
  font-size: 50px;
  margin: 0px;
}

#temp-icon canvas {
  margin-right: -30px;
}

.small-emoji {
  font-size: 50px;
  margin: 0px;
}

.stats {
  margin-top: 10px;
  line-height: 40px;
  font-size: 20px;
}

.celsius-fahrenheit h1 {
  display: inline;
  font-size: 70px;
  font-family: "Kalam";
}

.celsius-fahrenheit p {
  display: inline;
  position: relative;
  top: -35px;
  left: 10px;
}

.celsius-fahrenheit a {
  text-decoration: none;
  color: #008ce2;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

.byAmi {
  text-align: center;
  color: #1a4559;
  font-family: Caveat;
  font-weight: 400;
  font-size: 22px;
}

.byAmi a {
  font-weight: 700;
  text-decoration: none;
  color: #1a4559;
  cursor: pointer;
}

.byAmi a:hover {
  color: #008ce2;
}
